/* Voiceflow Chat Styles basierend auf Botpress-CSS */

/* PAGE CONTENTS */
.voiceflow-chat {
  font-size: 16px;
  color: #3c393d; /* Dunkelgrau */
}

.vfrc-header {
  background: #3c393d;
  color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid transparent;
  margin-top: 10px;
  width: 280px; /* Reduzierte Breite */
  margin-left: auto;
  margin-right: auto;
}



/* CHAT MESSAGE BODY */
.vfrc-message {
  background-color: #ffffff; /* Weiß */
  color: #3c393d; /* Dunkelgrau */
  border-radius: 7.5px;
  border: 1px solid transparent;
}

/* ASSISTANT RESPONSES */
.vfrc-system-response .vfrc-message {
  background-color: #c5c7ca; /* hellgrau */
  color: ##000000; /* Dunkelgrau */
}

/* USER RESPONSES */
.vfrc-user-response .vfrc-message {
  background-color: #f39206; /* Orange */
  color: #ffffff; /* Weiß */
}

/* FOOTER */
.vf-footer {
  background: #c5c7ca; /* Hellgrau */
  color: #ffffff; /* Weiß */
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* INPUT FELD */
.vfrc-input {
  background-color: #ffffff; /* Weiß */
  color: #3c393d; /* Dunkelgrau */
  border: 1px solid #3c393d; /* Dunkelgraue Umrandung */
}

/* BUTTONS */
.vfrc-button {
  background-color: #f39206; /* Orange */
  color: #ffffff; /* Weiß */
  border-radius: 25px;
}

.vfrc-button:hover {
  background-color: #3c393d; /* Dunkelgrau beim Hover */
}
@keyframes pulse {
  0% {
    transform: scale(1.4); /* Grundgröße */
  }
  50% {
    transform: scale(1.6); /* 60% größer als die Grundgröße */
  }
  100% {
    transform: scale(1.4); /* Zurück zur Grundgröße */
  }
}

.vfrc-launcher {
  transform: scale(1.1); /* Grundgröße um 60% erhöhen */
  animation: pulse 2s infinite;
}

.vfrc-launcher img {
  transform: scale(1.2); /* Vergrößert nur das Bild um 60% */
}
.vfrc-chat, .vfrc-chat--overlay {
  width: 320px !important;
  height: 500px; /* Feste Höhe in Pixel */
  border-radius: 25px;
  right: 12px;
  bottom: 5px;
  position: fixed;
  border: 1px solid transparent;
}





/* Weitere spezifische Anpassungen können hier hinzugefügt werden */
