/* PAGE CONTENTS */
.voiceflow-chat {
  font-size: 16px;
  color: #212020; /* Angepasst von Dunkelgrau #3c393d zu #212020 */
}

.vfrc-widget--chat {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #ffffff; /* Weiß */
  width: 330px;
  height: 730px !important;
  border-radius: 25px;
  right: 2px;
  bottom: 60px;
  position: fixed;
  border: 1px solid transparent; 
}

.vfrc-header {
  background: #212020; /* Angepasst von #3c393d Dunkelgrau zu #212020 */
  color: #ffffff; /* Weiß */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid transparent;
  margin-top: 10px;
  width: 270px !important;
  margin-left: auto;
  margin-right: auto;
}

/* CHAT MESSAGE BODY */
.vfrc-message {
  background-color: #ffffff; /* Weiß */
  color: #212020; /* Angepasst von #3c393d Dunkelgrau zu #212020 */
  border-radius: 7.5px;
  border: 1px solid transparent;
}

/* ASSISTANT RESPONSES */
.vfrc-system-response .vfrc-message {
  background-color: #d0d0d0; /* Angepasst von #c5c7ca Hellgrau zu #d0d0d0 */
  color: #000000; /* Schwarz */
}

/* USER RESPONSES */
.vfrc-user-response .vfrc-message {
  background-color: #003145; /* Angepasst von #f39206 Orange zu #d2ac4b */
  color: #ffffff; /* Weiß */
}

/* FOOTER */
.vf-footer {
  background: #d0d0d0; /* Angepasst von #c5c7ca Hellgrau zu #d0d0d0 */
  color: #ffffff; /* Weiß */
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* INPUT FELD */
.vfrc-input {
  background-color: #ffffff; /* Weiß */
  color: #212020; /* Angepasst von #3c393d Dunkelgrau zu #212020 */
  border: 1px solid transparent; /* Angepasst von transparent zu #212020 für sichtbare Umrandung */
}

/* BUTTONS */
.vfrc-button {
  background-color: #003145; /* Orange */
  color: #ffffff; /* Weiß */
  border-radius: 25px;
}

.vfrc-button:hover {
  background-color: #212020; /* Dunkelgrau beim Hover */
}
@keyframes pulse {
  0% {
    transform: scale(1.4); /* Grundgröße */
  }
  50% {
    transform: scale(1.6); /* 60% größer als die Grundgröße */
  }
  100% {
    transform: scale(1.4); /* Zurück zur Grundgröße */
  }
}

.vfrc-launcher {
  transform: scale(1.1); /* Grundgröße um 60% erhöhen */
  animation: pulse 2s infinite;
  position: fixed;
  bottom: 40px;
  right: 30px;
}

.vfrc-launcher img {
  transform: scale(1.2); /* Vergrößert nur das Bild um 60% */
}
.vfrc-chat {
  width: 330px ;
  height: 680px !important;/* Erhöhte feste Höhe in Pixel */
  border-radius: 25px;
  right: 2px;
  bottom: 40px;
  position: fixed;
  border: 1px solid transparent;
}
.vfrc-chat--overlay {
  width: 330px ;
  height: 680px !important;/* Erhöhte feste Höhe in Pixel */
  border-radius: 25px;
  right: 2px;
  bottom: 40px;
  position: fixed;
  border: 1px solid transparent;
}
.vfrc-launcher-notification {
  position: absolute;
  top: -10px; /* Positioniert die Blase über dem Chat-Button */
  right: -10px; /* Positioniert die Blase rechts vom Chat-Button */
  background-color: #003145; /* Rote Hintergrundfarbe */
  color: white; /* Weiße Textfarbe */
  border-radius: 50%; /* Runde Form */
  width: 20px; /* Breite der Blase */
  height: 20px; /* Höhe der Blase */
  text-align: center; /* Zentriert den Text */
  line-height: 20px; /* Vertikale Ausrichtung des Textes */
  font-size: 12px; /* Schriftgröße */
  z-index: 1001; /* Stellt sicher, dass die Blase über anderen Elementen liegt */
}

@media (max-width: 768px) {
  .vfrc-launcher {
    position: fixed;
    right: 10px;
    bottom: 50px;
    transform: scale(0.7); /* Verkleinert das Icon um 20% */
    animation: pulse 2s infinite; /* Behält die pulsierende Animation bei */
  }

  .vfrc-launcher img {
    transform: scale(1); /* Setzt die Größe des Bildes zurück */
  }
 
}




}




/* Weitere spezifische Anpassungen können hier hinzugefügt werden */
