/* PAGE CONTENTS */
.voiceflow-chat {
  font-size: 16px;
  color: #212020; /* Dunkle Grau */
}

.vfrc-widget--chat {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #fcfcfc; /* Weiß */
  width: 330px;
  height: 730px !important;
  border-radius: 25px;
  right: 2px;
  bottom: 60px;
  position: fixed;
  border: 1px solid transparent; /* Geändert */
}

.vfrc-header {
  background: #121212; /* Schwarz */
  color: #fcfcfc; /* Weiß */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid transparent;
  margin-top: 10px;
  width: 260px !important;
  margin-left: auto;
  margin-right: auto;
}

/* CHAT MESSAGE BODY */
.vfrc-message {
  background-color: #fcfcfc; /* Weiß */
  color: #212020; /* Dunkle Grau */
  border-radius: 7.5px;
  border: 1px solid transparent; /* Geändert */
}

/* ASSISTANT RESPONSES */
.vfrc-system-response .vfrc-message {
  background-color: #4c4c4c; /* Dunkelgrau */
  color: #fcfcfc; /* Weiß */
}

/* USER RESPONSES */
.vfrc-user-response .vfrc-message {
  background-color: #c6ac69; /* Trübes Gold */
  color: #fcfcfc; /* Weiß */
}

/* FOOTER */
.vf-footer {
  background: #4c4c4c; /* Dunkelgrau */
  color: #fcfcfc; /* Weiß */
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* INPUT FELD */
.vfrc-input {
  background-color: #fcfcfc; /* Weiß */
  color: #212020; /* Dunkle Grau */
  border: 1px solid transparent; /* Geändert */
}

/* BUTTONS */
.vfrc-button {
  background-color: #d2ac4b; /* Hellgold */
  color: #fcfcfc; /* Weiß */
  border-radius: 25px;
}

.vfrc-button:hover {
  background-color: #212020; /* Dunkle Grau beim Hover */
}

.vfrc-launcher {
  transform: scale(1.1);
  animation: pulse 2s infinite;
  position: fixed;
  bottom: 40px;
  right: 30px;
}

.vfrc-launcher img {
  transform:
 scale(1.2);
}

.vfrc-chat, .vfrc-chat--overlay {
width: 330px;
height: 680px !important; /* Erhöhte feste Höhe in Pixel /
border-radius: 25px;
right: 2px;
bottom: 40px;
position: fixed;
border: 1px solid transparent; / Angepasst an Falc-Stil */
}

.vfrc-launcher-notification {
position: absolute;
top: -10px;
right: -10px;
background-color: #d9c382; /* Trüb Gold /
color: white;
border-radius: 50%;
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
font-size: 12px;
z-index: 1001; / Stellt sicher, dass die Blase über anderen Elementen liegt */
}

@media (max-width: 768px) {
.vfrc-launcher {
position: fixed;
right: 10px;
bottom: 50px;
transform: scale(0.7); /* Verkleinert das Icon um 20% /
animation: pulse 2s infinite; / Behält die pulsierende Animation bei */
}

.vfrc-launcher img {
transform: scale(1); /* Setzt die Größe des Bildes zurück */
}
}
